body {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 14px;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.header img,
.footer img {
  width: 100%;
  max-width: 600px;
  display: block;
  border-radius: 5px 5px 0 0;
}
.content {
  padding: 20px;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
.form-control {
  border-color: #e5e7eb;
  color: #111827;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 5px;
  padding: 0.5rem 0.625rem;
  transition: all 0.5s;
}
.button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 30px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.yes {
  background: white;
  color: #28a745 !important;
  border: 1px solid #28a745;
}
.no {
  background: white;
  color: #ec0505 !important;
  border: 1px solid red;
}
@media (max-width: 600px) {
  .container {
    padding: 3px;
    max-width: 93%;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
