<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link rel="stylesheet" href="../../css/shortlist-mail-content.css">
</head>
<body>
    <div class="container">
        <div class="header"> 
             <img src="https://actecrm.com/hrm/mails/mail-images/form-header.png" alt="">
        </div>
        <div class="content">
            <p>Dear {{Name}},</p>
            <p> Thank you for your interest in the opportunity with us. Please complete the recruitment form by clicking the link below:</p>
            <a href="{{Link}}" target="_blank" class="form-control button yes"><span>Form Link</span></a>
            <p>Kindly fill in the required details at your earliest convenience. If you have any questions, feel free to reach out.</p>
            <p><b>Best regards</b>, <br> {{HR Name}} <br> Markerz Global solution </p> 
        </div>
        <div class="footer"> 
            <img src="https://actecrm.com/hrm/mails/mail-images/form-footer.png" alt="">
        </div>
    </div>
</body>
</html>
