<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link rel="stylesheet" href="../../css/shortlist-mail-content.css">
</head>
<body>
    <div class="container">
        <div class="header"> 
             <img src="https://actecrm.com/hrm/mails/mail-images/form-header.png" alt="">
        </div>
        <div class="content">
            <p>Dear {{Name}},</p>
            <p> We are pleased to inform you that you have been shortlisted for the <b>{{Job Position}}</b> at <b>Markerz Global Solutions</b>. Your skills and experience align well with our requirements</p> 
            <p>Your interview is scheduled for <b>{{Date}} (IST)</b>. Our team will share further details soon. If you have any questions, feel free to reach out.</p>
            <p>Are you attend the interview at the scheduled date </p>
            <a href="https://actecrm.com/hrm/shortlist-form?id={{id}}&val=MQ==" target="_blank" class="button yes"><span>Yes</span></a>
            <a href="https://actecrm.com/hrm/shortlist-form?id={{id}}&val=Mg==" target="_blank" class="button no"><span>No,Change</span></a>
            <br>
            <small>if no means click & choice the date.</small>
            <p><b>Best regards</b>, <br> {{HR Name}}, <br> 7894561325, <br> Markerz Global Solutions, <br>Velachery, Chennai, Tamil Nadu 600042. </p> 
        </div>
        <div class="footer"> 
            <img src="https://actecrm.com/hrm/mails/mail-images/form-footer.png" alt="">
        </div>
    </div>
</body>
</html>
